
.container{
  background-color: #E6E6FA;
  height: 100vh;
  max-width: 8000px;
  margin: 0 auto;
  display: block;
}
.forms {
  background-color: transparent;
  border-radius: 5px;
  padding-top: 12rem;
  padding-bottom: 12rem;
  max-width: 900px;
  margin: auto auto;
  text-align: center;
}

.input{
  background-color: #E6E6FA;
  border-color: white;
  border: 5;
  border-radius: 6px;
  width: 100%;
  max-width: 500px;
  margin-top: 40px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #2F4F4F;
  font-family: 'Mono';
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.input:focus {
  outline: none;
}

.input:hover,
.input:active {
  background: #F0FFFF;
  border-color: black;
  border-radius: 6px;
}

.label{
  font-size: 3em;
   font-weight: bold;
   text-align: center;
   margin-bottom: 2em;
   font-family: 'Mono';
   color:#00008B;
   width: 100%;
}
