.chart-wrapper {
  padding: 2%;
  width: 96%;
  display: inline-block;
  align-items: center;
}

.main {
  height: 600px;
}

.sub {
  height: 500px;
  display:inline-block;
  align-items: center;
}

.grid{
  width: 56%;
}
