
.profile{
  background-color: #F3DBCF;
  margin: 0 auto;
  flex-direction: column;
  margin-bottom: 30px;

}

.avatar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.avatar img {
  display: block;
  border-radius: 50%;
  width: 25%;
  height: 25%;
  object-fit: cover;
  margin-top: 25px;
}

h1{
  text-align: center;
  font-family: 'Mono';
  color: #B6B4C2;
}

h2{

}
